.leftCol {
    float: left;
    width: 25%;
    margin: 0px;
}

.middle {
    float: left;
    width: 40%;
}
.photo1{
    border-radius: 100%;
    height: 9cm;
    width: 2cm;
}
.area{
    width: 80%;
    height: 2.5cm;
    margin-top: 3px;
    border: 1px solid rgb(106, 115, 106);
    box-shadow: 1px;
    border-radius: 6px;
}
.mine{
    width: 8cm;
    height: 1cm;
    margin-left: 10cm;
    margin-top: 1cm;
}

.rightCol {
    float: left;
    width: 25%;
}
hr{
    color:rgba(36, 141, 34, 1);
}

.row {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle a {
    font-size: 18px;
    margin: 5px;
    color:rgba(36, 141, 34, 1);
    text-decoration: none;
}

.middle a:hover {
    color: #3299F9;
}

.middle .leave_a_comment {
    color: gray;
    font-size: 15px;
    float: right;
}

.middle .bio {
    font-family: Sedan SC;
}

.middle h2 {
    text-decoration: underline;
    font-family: Sedan SC;
}

body .middle .bio {
    text-align: justify;
}

.middle,
.rightCol {
    margin: 10px;
}

.rightCol .rightCard {
    background-color: white;
    border: 1px solid rgba(36, 141, 34, 1);;
    margin: 20px 5px;
    margin-bottom: 0px;
}

.rightCol .rightCard p {
    text-align: center;
    color: rgba(36, 141, 34, 1);;
    border: 1px solid rgba(36, 141, 34, 1);;
    border-left: none;
    border-right: none;
    padding: 12px;
    font-weight: bold;
}

.rightCol .rightCard ol li {
    list-style-type: none;
    padding: 4px 0px;
}

.rightCol .rightCard ol li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .leftCol,
    .rightCol,
    .middle {
        width: 100%;
        padding: 0;
    }
    .row {
        display: flex;
    }
    hr{
        color:rgba(36, 141, 34, 1);
    }
}

@media only screen and (orientation: landscape) {
    body .row {
        margin-top: 80px;
    }
    .leftCol,
    .rightCol {
        position: -webkit-sticky;
        position: sticky;
        top: 180px;
    }
    hr{
        color:rgba(36, 141, 34, 1);
    }
}